<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 

xmlns:jaxws="http://cxf.apache.org/jaxws"
xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop" 


xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.2.xsd 
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
        http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
        
        
    <import resource="classpath:META-INF/cxf/cxf.xml"/> 
 <!--    <import resource="classpath:META-INF/cxf/cxf.xml" />
   <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>  -->


<!-- <jaxws:endpoint id="client"  
        implementor="service.TicketService" address="/ticketService" />   -->
        
<!-- <jaxws:server serviceClass="service.TicketService" address="/webSerciceTicket_service_jaxws"></jaxws:server> -->
<!-- <jaxws:endpoint id="ticketService" address="/ticketService" implementor="service.impl.TicketServiceImpl" /> 
<bean id="client" class="service.TicketService"  
          factory-bean="clientFactory" factory-method="create"/> 
<bean id="clientFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean"> 
         <property name="serviceClass" value="service.TicketService"/> 
         <property name="address" value="http://localhost:8080/ticket/webservice/ticketService?wsdl"/> 
</bean> -->

<!--  <bean id="ticket" class="service.impl.TicketServiceImpl"/>   -->

<!-- 发服务 -->
<!-- 票 -->
<jaxws:endpoint id="ticketservice" implementor="service.impl.TicketServiceImpl" address="/ticketservice" />
<!--  支付 -->
<jaxws:endpoint id="paywayservice" implementor="service.impl.PaywayServiceImpl" address="/paywayservice" />

<!-- 接受服务 -->
<!-- 票 -->
<bean id="client" class="service.TicketService" factory-bean="clientFactory" factory-method="create" />  
    <bean id="clientFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">  
        <property name="serviceClass" value="service.TicketService" />  
        <property name="address" value="http://localhost/DisProject/webservice/ticketservice" />  
    </bean>  
<!--  支付 -->
<bean id="payway" class="service.PaywayService" factory-bean="clientFactory1" factory-method="create" />  
<bean id="clientFactory1" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">  
        <property name="serviceClass" value="service.PaywayService" />  
        <property name="address" value="http://localhost/DisProject/webservice/paywayservice" />  
    </bean>
<!-- 商品管理的service -->
<bean id="accountService" class="service.impl.AccountServiceImpl" />
</beans>